{% csrf_token %}
{% if form.fieldsets %}
	{{ form.non_field_errors }}
	{% for fieldset in form.fieldsets %}
	<table class="table table-bordered">
	<fieldset class="{{ fieldset.classes }}">
	{% if fieldset.legend %}
		<legend>{{ fieldset.legend }}</legend>
	{% endif %}
	{% for field in fieldset %}
		{% if field.is_hidden %}
			{{ field }}
		{% else %}
		<tr class="form-group{% if field.errors %} has-error{% endif %}">
			<td><label class="field-label{% if field.field.required %} required-field{% endif %}">{{ field.label }}:</label></td>
			<td><div class="input-group">
				{{ field }}
				{% if field.errors %}
				<span class="help-block">{% for error in field.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
				{% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
			</div></td>
		</tr>
		{% endif %}
    {% endfor %}
	</fieldset></table>

	{% endfor %}
{% elif form.visible_fields %}
	<table class="table table-bordered">
	<fieldset> 
	{% for field in form.visible_fields %}
	<tr class="form-group{% if field.errors %} has-error{% endif %}">
		<td><label class="field-label" for="id_{{ field.html_name }}">{{ field.label }}</label></td>
		<td><div class="input-group">
			{{ field }}
			{% if field.errors %}
			<span class="help-block">{% for error in field.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
			{% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
		</div></td>
	</tr>
	
	{% comment %}
	<div class="form-group{% if field.errors %} has-error{% endif %}">
		<label class="{% if field.field.required %} required-field{% endif %}" id="">{{ field.label }}</label> 
		{{ field }}
			{% if field.errors %}
			<span class="help-block">{% for error in field.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
			{% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
	{% endcomment %}
	{% endfor %}
	</fieldset></table>
{% else %}
	<h2>Não há campos para serem exibidos.</h2>
{% endif %}
