{% extends "base.html" %}
{% load generic_templates %}
{% load i18n %}

{% block title %}{% blocktrans with object.name as objectName %}{{ objectName }} - Detalhes{% endblocktrans %}{% endblock %}

{% block content %}
<h2>{% blocktrans with object.name as objectName %}{{ objectName }} - Detalhes{% endblocktrans %}</h2>
<br />
<div class="row">
	<div class="span6">
	        <table class="table table-striped">
		{% for name, value in object|get_fields %}
			<tr>
				<td><h6>{% trans name|capitalize %}:</h6></td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
<br />
{% endblock %}
