{% extends "base.html" %}
{% load generic_templates %}
{% load i18n %}

{% block title %}{% if object %}Editar {{ object|class_verbose_name }} - {{ object }}{% else %}{% trans 'Add' %} {{ form|form_verbose_name }}{% endif %}{% endblock %}

{% block content %}
<h2>{% if object %}Editar {{ object|class_verbose_name }} - {{ object }}{% else %}{% trans 'Add' %} {{ form|form_verbose_name }}{% endif %}</h2>
<div class="main_table">
	<form enctype="multipart/form-data" method="post" action=".">
		<legend>{% trans 'Modifique os campos que desejar abaixo e clique em salvar. Campos em negrito são obrigatórios.' %}</legend>
		{% include "form_improved.html" with form=form %}
		<p><button type="submit" class="btn btn-primary">{% trans 'Salvar' %}</button></p>
	</form>						
</div>
{% endblock %}
