{% extends "base.html" %}
{% load generic_templates %}
{% load i18n %}

{% block title %}{% trans 'Delete' %} {{ object.name }}{% endblock %}

{% block content %}
<h2>{% trans 'Delete' %} {{ object.name }} - {% trans "Are you sure?" %}</h2>
<div class="main_table">
	<div class="cell_head">
		<strong>{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</strong>
	</div>
	<div class="cell">
		<form method="post" action="">{% csrf_token %}
			<ul>{{ object|unordered_list }}</ul>
			<ul><li>{{ object|class_verbose_name }}: "{{ object }}"</li></ul>
			<p><input type="submit" class="button" name="confirm_delete" value='{% trans "Yes, I''m sure" %}' /></p>
		</form>
	</div>
</div>
{% endblock %}
