{% extends "base.html" %}
{% load generic_templates %}
{% load i18n %}

{% block title %}{% blocktrans with object.name as objectName %}{{ objectName }} - Detalhes{% endblocktrans %}{% endblock %}

{% block content %}
<h2>{% blocktrans with object.name as objectName %}{{ objectName }} - Detalhes{% endblocktrans %}</h2>
{# TO-DO: Trocar para ~"hasPermission" #}
<div class="btn-toolbar">
	{% if user.is_superuser %}
	<a class="btn btn-default" href="editar/" >{% trans 'Edit' %} {{ auto_name|lower }}</a>
	{% endif %}
</div><br>
<div class="table-responsive">
  <table class="table table-bordered"> 
{% for name, value in object|get_fields %}
  <tr>
    <td class="field-label col-md-3 focus">
      <label>{% trans name|capitalize %}:</label>
    </td>
    <td class="col-md-9 active">
      {{ value }}
    </td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}
