{% extends "base.html" %}
{% load i18n %}
{% load generic_templates %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block title %}{{ auto_name_plural }}{% endblock %}

{% block content %}
<h2>{{ auto_name_plural }}</h2>

{% auto_sort object_list %}
{% autopaginate object_list 10 %}
{# TO-DO: Trocar para ~"hasPermission" #}
<div class="btn-toolbar">
	{% if user.is_superuser %}
	<a class="btn btn-default" href="adicionar/" >{% trans 'Add' %} {{ auto_name|lower }}</a>
	{% endif %}

{% if object_list %}
	{% block search %}
	<form class="col-md-3 input-group pull-right" method="GET">	
		{{ form.search }}
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default btn-group" name="submit_search" value="Buscar">Buscar</button>
		</span>
	</form>
	{% endblock %}
</div><br>
<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
		<thead>
		<tr>
		{% sort_headers cl %}
		{% if user.is_superuser %}
			<th scope="col" class="unsortable"><span>Deletar</span></th>
		{% else %}
			<th scope="col" class="unsortable"><span>Visualizar</span></th>
		{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for e in object_list %}
			<tr>
			{% for value in e|get_first_field_values %}
				<td><a href="{{ e.id }}/">{{ value|default:"Não disponível" }}</a></td>
			{% endfor %}
			{% if user.is_superuser %}
				<td><a href="{{ e.id }}/deletar/"><span class="glyphicon glyphicon-trash"></span></a></td>
			{% else %}
			<td><a href="{{ e.id }}/"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
	<div class="text-center">
		{% paginate %}
	</div>
{% else %}
	</div><br>
	<div class="alert alert-block alert-info">
                {% trans 'Não há ' %}{{ auto_name_plural|lower }}{% trans ' para serem mostrados.' %}
                {# TO-DO: Trocar para ~"hasPermission" #}
                {% if user.is_superuser %}
                	<a href="adicionar/">{% trans 'Add' %} {{ auto_name|lower }}</a>
                {% endif %}
        </div>
{% endif %}
{% endblock %}
